<div class="row">
	<div class="eleven columns offset-by-one">
		<h1 data-ng-bind="$detailCtrl.post.title.rendered"></h1>
	</div>
</div>

<div class="row">
	<div class="one columns">
		<div>
			<span data-ng-bind="$detailCtrl.post.date|date"></span>
			<a data-ng-hide="!$detailCtrl.post.editPostLink" href="{{$detailCtrl.post.editPostLink}}">Edit</a>
		</div>
	</div>

	<div class="ten columns">
		<div data-ng-bind-html="$detailCtrl.post.content.rendered | trusted"></div>
	</div>

	<div class="one columns">
		<div>
			<span data-ng-bind="$detailCtrl.author.name"></span>
			<div><img data-ng-src="{{$detailCtrl.author.avatar_urls[24]}}"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="eleven columns offset-by-one">
		<a data-ui-sref="list">Back to list</a>
	</div>
</div>

<div class="row">
    <div class="eleven columns offset-by-one">
        <p>FOOTER</p>
    </div>
</div>