<div class="row">
	<div class="eleven columns offset-by-one">
		<h1 data-ng-bind="$detailCtrl.post.title.rendered"></h1>
	</div>
</div>

<div class="row">
	<div class="one columns">
		{{$detailCtrl.post.date|date}}
		<a class="editPostLink" data-ng-hide="!$detailCtrl.post.editPostLink" href="{{$detailCtrl.post.editPostLink}}">Edit</a>
	</div>

	<div class="ten columns">
		<div data-ng-bind-html="$detailCtrl.post.content.rendered | trusted"></div>
	</div>

	<div class="one columns">
		{{$detailCtrl.post.author}}
	</div>
</div>

<div class="row">
	<div class="eleven columns offset-by-one">
		<a data-ui-sref="list">Back to list</a>
	</div>
</div>