<!-- <div class="row">
	<div class="col-lg-12">
		<p data-ng-bind="$listCtrl.pageTitle"></p>
	</div>
</div> -->

<div class="fade" data-ng-hide="isLoading">

	<div class="row">
		<div class="col-lg-12">
			<article data-ng-repeat="post in $listCtrl.posts">
				<h2 data-ng-bind="post.title.rendered"></h2>
				<div data-ng-bind-html="post.excerpt.rendered | trusted"></div>
				<a class="readMore" data-ui-sref="post({ slug: post.slug })">Mehr lesen</a>
			</article>
		</div>
	</div>

	<div class="row footer">
		<div class="col-lg-12" data-ng-bind-html="$listCtrl.footer|trusted"></div>
	</div>

</div>
