<div class="fade" data-ng-hide="isLoading">

	<div class="row">
		<div class="col-lg-12">
			<h1 data-ng-bind="$postCtrl.post.title.rendered"></h1>
		</div>
	</div>

	<div class="row text-muted articleIntro">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<em><span data-ng-bind="$postCtrl.post.date|date"></span></em><br>
			<a data-ng-hide="!$postCtrl.post.editPostLink" href="{{$postCtrl.post.editPostLink}}">Edit</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
			<em><span data-ng-bind="$postCtrl.author.name"></span></em>
			<img class="authorImg img-circle" src="{{$postCtrl.author.avatar_urls[96]}}">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 postContent">
			<div data-ng-bind-html="$postCtrl.post.content.rendered | trusted"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<a class="backToList" data-ui-sref="list">&#8678; Zurück</a>
		</div>
		<div class="col-lg-6 text-right">
			<a data-ng-href="{{$postCtrl.post.fblink}}" target="_blank">Auf Facebook teilen</a>
			<a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436');return false;">Share on Facebook</a>

		</div>
	</div>

	<div class="row footer">
	    <div class="col-lg-12" data-ng-bind-html="$postCtrl.footer | trusted"></div>
	</div>

</div>
