html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


.fade.ng-hide {
    opacity: 0;
    @include transition(all linear 0.5s);
}

.fade.ng-hide-add,
.fade.ng-hide-remove {
    @include transition(all linear 0.5s);
}

img.boxshadow{
    box-shadow: 0px 10px 20px 10px rgba(158, 158, 158, 0.59);
    margin-bottom: 40px;
}

a{
    text-decoration: none !important;
}
